<%= form_for @application do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "problem") %> found:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br>
    </div>
  <% end %>

  <span>If you're unable to convince a friend to invite you, you can apply for an account here.</span><br><br>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div><br>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div><br>
  <div class="field">
    <%= f.label :url %><br><p>Share the URL of something on the web that you are most proud of.</p>
    <%= f.text_field :url %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
