<%= form_tag password_resets_path, :method => :post do %>
  <p class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p class="field">
    <%= label_tag :karma %>
    <%= text_field_tag :karma, params[:karma] %>
  </p>
  <div class="actions"><%= submit_tag "Send Gift" %></div>
<% end %>