<%= form_for @gift do |f| %>
  <% if @gift.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @gift.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
    <p>
    <%= f.label :password  %><br />
    <%= f.text_field :password %>
  </p>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  <p class="button"><%= f.submit "Send Karma"%></p>
<% end %>
