<h2>Applicants Awaiting Invitations</h2><br>

<% if @requests.count == 0 %>
  All applicants have received invitations, boo-yeah!
<% end %>

<% @requests.each do |request| %>
  <%
    unless request.url.downcase[/^http:\/\//] || request.url.downcase[/^https:\/\//]
      request.url = 'http://' + request.url.downcase
    end
  %>
  <% if request.listme == false || (current_user && (current_user.username == "Colby" ||  current_user.username == "Jackson")) %>
    <div>
      <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(request.email) %>?d=http%3A%2F%2Fthelist.io%2Fimages%2Fphoto.jpg&s=200" class="profile-photo" />
      <h3><%= request.name %></h3>
      <%= link_to request.url, request.url, :target => "_blank" %><br>
      <span><%= time_ago_in_words(request.created_at) %> ago</span><br>
      <%= link_to "Send #{request.name} an Invitation", "/gift?name=#{request.name}&email=#{request.email}" %>
    </div><br>
  <% end %>
<% end %>