<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "problem") %> found:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br>
    </div>
  <% end %>

  <span>Will cost you <span class="red"><%= @threshold %> karma</span>.</span><br><br>

  <div class="field">
    <%= f.label :url, "URL" %><br>
    <%= f.text_field :url, :autocomplete => "off" %><br>
    <span class="light">(We'll try to fill in the title for you.)</span>
  </div><br>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div><br>
  <div class="field">
    <%= check_box(:post, :agreement, :checked => (detect_level(current_user.id) >= 1 ? true : false)) %>
    <%= label(:post, :agreement, 'Yes, I have read the '.html_safe) %><a href="/guidelines" target="_blank">guidelines</a>.
  </div><br>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
