<% @comments.each do |c| %>
	<%= User.find(c.user_id).username %><br>
	<%= c.body %><br><br>
<% end %>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "problem") %> found:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br><p>Test</p>
    </div>
  <% end %><br><br>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div><br>
  <div class="field">
    <%= f.hidden_field :post_id, :value => @post.id %>
  </div><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
