<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "problem") %> found:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul><br><p>Test</p>
    </div>
  <% end %>
  <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(current_user.email) %>?d=http%3A%2F%2Fthelist.io%2Fimages%2Fphoto.jpg&s=200" class="comment-photo" />
  <%= f.text_area :body, :placeholder => "What's on your mind?" %>
  <div class="field">
    <%= f.hidden_field :post_id, :value => @post.id %>
  </div>
  <%= f.submit :class => "comment-submit" %>
  <div class="clearfix"></div>
<% end %>