<ol>
  <% @posts.each do |post| %>
    <li>
      <a href="<%= post.url %>" target="_blank" class="title"><%= post.title %></a><br>
      <span class="meta">Submitted by <%= post.user %>&nbsp;&bull;&nbsp;on <%= post.created_at %>&nbsp;&bull;&nbsp;<%= link_to "View #{post.comment_count} Comments", post %></span>
    </li>
  <% end %>
</ol>