<ol>
  <% @posts.each do |post| %>
    <li>
      <div class="order">
        <span><%= @posts.index(post) + 1 %>.</span>
      </div>
      <div class="suffrage">
        <%= link_to '&#9650;'.html_safe, post_upvote_path(post), :remote => true, :method => "put", :class => "up" %><br>
        <span><%= post.upvote - post.downvote %></span><br>
        <%= link_to '&#9660;'.html_safe, post_downvote_path(post), :remote => true, :method => "put", :class => "down" %><br>
      </div>
      <div class="submission">
        <div class="submission-inner">
          <a href="<%= post.url %>" target="_blank" class="title"><%= post.title %></a><br>
          <span class="meta">Submitted by <%= post.user %>&nbsp;&mdash;&nbsp;<%= time_ago_in_words(post.created_at) %> ago&nbsp;&mdash;&nbsp;<%= link_to "View #{post.comment_count} Comments", post %></span>
        </br>
      </div>
    </li>
  <% end %>
</ol>