<ol>
  <% @posts.each do |post| %>
    <%
      if current_user
        if Vote.where(:user_id => current_user.id, :post_id => post.id, :direction => 0).count > 0
          active = ' upactive'
        elsif Vote.where(:user_id => current_user.id, :post_id => post.id, :direction => 1).count > 0
          active = ' downactive'
        end

        if Vote.find_by_post_id_and_user_id(post.id, current_user.id)
          value = Vote.find_by_post_id_and_user_id(post.id, current_user.id).value
        end

      end
    %>

    <li>
      <div class="order">
        <span><%= @posts.index(post) + 1 %>.</span>
      </div>
      <div class="suffrage<%= active %>" data-value="<%= value %>">
        <% if current_user %>
          <%= link_to '&#9650;'.html_safe, upvote_post_path(:post_id => post.id), :remote => true, :method => "put", :class => "up" %><br>
        <% else %>
          <%= link_to '&#9650;'.html_safe, log_in_path, :class => "up" %>
        <% end %>
        <span><%= post.score.to_i %></span><br>
        <% if current_user %>
          <%= link_to '&#9660;'.html_safe, downvote_post_path(:post_id => post.id), :remote => true, :method => "put", :class => "down" %><br>
        <% else %>
          <%= link_to '&#9660;'.html_safe, log_in_path, :class => "down" %>
        <% end %>
      </div>
      <div class="submission">
        <div class="submission-inner">
          <a href="<%= post.url %>" target="_blank" class="title"><%= post.title %></a><br>
          <span class="meta">Submitted by <%= link_to post.user_id, :controller => "users", :action => "user", :id => post.user_id  %>&nbsp;&mdash;&nbsp;<%= time_ago_in_words(post.created_at) %> ago&nbsp;&mdash;&nbsp;<%= link_to "View #{post.comment_count} Comments", post %></span>
          <span class="meta">Submitted by <%= User.find(post.user_id).username %>&nbsp;&mdash;&nbsp;<%= time_ago_in_words(post.created_at) %> ago&nbsp;&mdash;&nbsp;<%= link_to "View #{post.comment_count} Comments", post %></span>
        </br>
      </div>
    </li>
  <% end %>
</ol>