<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Url:</b>
  <%= @post.url %>
</p>

<p>
  <b>User:</b>
  <%= @post.user %>
</p>

<p>
  <b>Text:</b>
  <%= @post.text %>
</p>