<p id="notice"><%= notice %></p>

<div class="show-li">
  <div class="suffrage<%= @active %>" data-value="<%= @value %>">
    <% if current_user %>
      <%= link_to '&#9650;'.html_safe, vote_path(:post_id => @post.id, :vote_type => 0, :direction => 0, :value => @value), :remote => true, :method => "put", :class => "up" %><br>
    <% else %>
      <%= link_to '&#9650;'.html_safe, log_in_path, :class => "up" %>
    <% end %>
    <span><%= @post.score.to_i %></span><br>
    <% if current_user %>
      <%= link_to '&#9660;'.html_safe, vote_path(:post_id => @post.id, :vote_type => 0, :direction => 1, :value => @value), :remote => true, :method => "put", :class => "down" %><br>
    <% else %>
      <%= link_to '&#9660;'.html_safe, log_in_path, :class => "down" %>
    <% end %>
  </div>

  <a href="<%= @post.url %>" target="_blank" class="title"><h2><%= @post.title %></h2></a>
  <span class="meta">Submitted by <a href="/user/<%= User.find(@post.user_id).username.downcase %>"><%= User.find(@post.user_id).username %></a>&nbsp;&mdash;&nbsp;<%= time_ago_in_words(@post.created_at) %> ago.<br></span>
</div>
<% @comments.each do |c| %>

  <%
    if current_user
      if Vote.where(:user_id => current_user.id, :post_id => c.id, :direction => 0, :vote_type => 1).count > 0
        comment_active = 'upactive'
      elsif Vote.where(:user_id => current_user.id, :post_id => c.id, :direction => 1, :vote_type => 1).count > 0
        comment_active = 'downactive'
      end

      found_vote = Vote.find_by_post_id_and_user_id_and_vote_type(c.id, current_user.id, 1)

      if found_vote
        comment_value = found_vote.value
      else
     	  comment_value = current_user.karma * 0.02
     	  comment_value = 1 if comment_value < 1
      end

      if current_user && current_user.id == c.user_id.to_i
        comment_active += " owner"
      end

    end
  %>

  <div class="comment">
    <div class="suffrage <%= comment_active %>" data-value="<%= comment_value %>">
      <% if current_user %>
        <%= link_to '&#9650;'.html_safe, vote_path(:post_id => c.id, :vote_type => 1, :direction => 0, :value => comment_value), :remote => true, :method => "put", :class => "up" %><br>
      <% else %>
        <%= link_to '&#9650;'.html_safe, log_in_path, :class => "up" %>
      <% end %>
      <span><%= c.score.to_i %></span><br>
      <% if current_user %>
        <%= link_to '&#9660;'.html_safe, vote_path(:post_id => c.id, :vote_type => 1, :direction => 1, :value => comment_value), :remote => true, :method => "put", :class => "down" %><br>
      <% else %>
        <%= link_to '&#9660;'.html_safe, log_in_path, :class => "down" %>
      <% end %>
    </div>

    <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(User.find(c.user_id).email) %>" class="comment-photo" />
  	<a href="/user/<%= User.find(c.user_id).username %>"><b><%= User.find(c.user_id).username %></b></a>
  	<span class="meta">Written <%= time_ago_in_words(c.created_at) %> ago.<br></span>
  	<p><%= c.body %></p>
	</div><br><br>
<% end %>

<% if current_user %>
  <%= render "newcomment" %>
<% end %>