<p id="notice"><%= notice %></p>

<div class="suffrage<%= @active %>">
  <% if current_user %>
    <%= link_to '&#9650;'.html_safe, upvote_post_path(:post_id => @post.id), :remote => true, :method => "put", :class => "up" %><br>
  <% else %>
    <%= link_to '&#9650;'.html_safe, log_in_path, :class => "up" %>
  <% end %>
  <span><%= @post.score.to_i %></span><br>
  <% if current_user %>
    <%= link_to '&#9660;'.html_safe, downvote_post_path(:post_id => @post.id), :remote => true, :method => "put", :class => "down" %><br>
  <% else %>
    <%= link_to '&#9660;'.html_safe, log_in_path, :class => "down" %>
  <% end %>
</div>

<a href="<%= @post.url %>" target="_blank" class="title"><h2><%= @post.title %></h2></a>
<span class="meta">Submitted by <%= @post.user_id %>&nbsp;&mdash;&nbsp;<%= time_ago_in_words(@post.created_at) %> ago.<br></span>