<% if @posts.count == {} %>
  No posts at the moment.
<% end %>

<ol id="top-posts">
  <h2>Top Posts</h2><br>
  <% @posts.each do |post| %>

    <%
      if current_user
        if Vote.where(:user_id => current_user.id, :post_id => post.id, :direction => 0, :vote_type => 0).count > 0
          active = 'upactive'
        elsif Vote.where(:user_id => current_user.id, :post_id => post.id, :direction => 1, :vote_type => 0).count > 0
          active = 'downactive'
        end

        found_vote = Vote.find_by_post_id_and_user_id_and_vote_type(post.id, current_user.id, 0)

        if found_vote
          value = found_vote.value
        else
       	  value = current_user.karma * 0.02
       	  value = 1 if value < 1
        end

        if current_user.id == post.user_id.to_i
          active += " owner"
        end

      end
    %>

    <li>
      <div class="order">
        <span><%= @posts.index(post) + 1 %>.</span>
      </div>
      <div class="suffrage <%= active %>" data-value="<%= value %>">
        <% if current_user %>
          <%= link_to '&#9650;'.html_safe, vote_path(:post_id => post.id, :vote_type => 0, :direction => 0, :value => value), :remote => true, :method => "put", :class => "up" %><br>
        <% else %>
          <%= link_to '&#9650;'.html_safe, signin_path, :class => "up" %>
        <% end %>
        <span data-total="<%= post.score.to_i %>" data-up="+<%= post.upvotes.to_i %>" data-down="<%= post.downvotes.to_i %>"><%= post.score.to_i %></span><br>
        <% if current_user %>
          <%= link_to '&#9660;'.html_safe, vote_path(:post_id => post.id, :vote_type => 0, :direction => 1, :value => value), :remote => true, :method => "put", :class => "down" %><br>
        <% else %>
          <%= link_to '&#9660;'.html_safe, signin_path, :class => "down" %>
        <% end %>
      </div>
      <div class="submission">
        <div class="submission-inner">
          <a href="<%= post.url %>" target="_blank" class="title"><%= post.title %></a><br>
          <span class="meta">Submitted by <%= link_to User.find(post.user_id).username, { :controller => "users", :action => "user", :username => User.find(post.user_id).username.downcase }, { :class => ("red" if  detect_level(post.user_id) == 4) }%>&nbsp;&mdash;&nbsp;<%= time_ago_in_words(post.created_at) %> ago&nbsp;&mdash;&nbsp;<%= link_to "View " + Comment.where(:post_id => post.id, :comment_type => 0).count.to_s + " Comments", post %></span>
        </br>
      </div>
    </li>
  <% end %>
</ol>

<ol id="top-users">
  <h2>Top Users</h2><br>
  <% @users.each do |user| %>
    <li>
      <div class="order">
        <span><%= @users.index(user) + 1 %>.</span>
      </div>
      <div class="suffrage">
        <img src="http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(user.email) %>?d=http%3A%2F%2Fthelist.io%2Fassets%2Fprofile.jpg&s=200" class="comment-photo" />
      </div>
      <div class="submission">
        <div class="submission-inner">
          <%= link_to user.username, "/user/" + user.username, :class => ("red" if user.karma > 100)%><br>
          <span class="meta"><%= user.karma %> karma — <%= Post.where(:user_id => user.id).count %> posts — <%= Comment.where(:user_id => user.id).count %> comments</span>
      </div>
    </li>
  <% end %>
</ol>
<div class="clearfix"></div>