<!DOCTYPE html>
<html>
<head>
  <title>The List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section>
      <h1><a href="/">The List</a></h1>
      <% if current_user %>
        <%= current_user.email %>
        &nbsp;&bull;&nbsp;
        <%= link_to 'Submit', new_post_path %>
        &nbsp;&bull;&nbsp;
        <%= link_to "Sign Out", log_out_path %>
      <% else %>
        <%= link_to "Sign Up", sign_up_path %>
        &nbsp;&bull;&nbsp;
        <%= link_to "Sign In", log_in_path %>
      <% end %>
    </section>
  </header>
  <section>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
    <%= yield %>
  </section>
</body>
</html>