<!DOCTYPE html>
<html>
<head>
  <title>The List</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <section>
      <h1><a href="/">The List</a></h1>
      <div class="meta-header">
        <% if current_user %>
          <%= link_to current_user.username, profile_path %>
          &nbsp;&bull;&nbsp;
          <%= link_to 'Submit', new_post_path %>
          &nbsp;&bull;&nbsp;
          <%= link_to "Sign Out", log_out_path %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path %>
          &nbsp;&bull;&nbsp;
          <%= link_to "Sign In", log_in_path %>
        <% end %>
      </div>
    </section>
  </header>
  <section>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
    <%= yield %>
  </section>
  <footer>
    <style>
      /* Responsiveness */

      @media only screen and (max-width: 650px) {
        body > header {
          height: 100px;
          line-height: normal;
          text-align: center;
          font-size: .75em;
        }

        h1 {
          display: block;
          width: 100%;
          text-align: center;
          position: static;
        }

        body > header > section {
          padding-top: 10px;
          padding-bottom: 20px;
        }
      }
    </style>
  </footer>
</body>
</html>