<!DOCTYPE html>
<html>
<head>
  <title>The List</title>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, "http://thelist.io/posts/recent.rss") %>
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "modernizr" %>
</head>
<body>
  <div class="wrap">
    <header>
      <section>
        <h1><a href="/">The List</a><span class="beta">&nbsp;&nbsp;v1</span></h1>
        <div class="meta-header">
          <% if current_user %>
            <%= link_to current_user.username, { :controller => "users", :action => "user", :username => current_user.username.downcase} %>
            &nbsp;&bull;&nbsp;
            <%= link_to 'Recent', recent_path %>
            &nbsp;&bull;&nbsp;
            <%= link_to 'About', docs_path %>
            &nbsp;&bull;&nbsp;
            <%= link_to 'Submit', new_post_path %>
            &nbsp;&bull;&nbsp;
            <%= link_to 'Invite', gift_path %>
            &nbsp;&bull;&nbsp;
            <%= link_to "Sign Out", signout_path %>
          <% else %>
         	  <%= link_to 'Sign Up', apply_path %>
         	  &nbsp;&bull;&nbsp;
            <%= link_to 'Recent', recent_path %>
            &nbsp;&bull;&nbsp;
            <%= link_to 'About', docs_path %>
            &nbsp;&bull;&nbsp;
            <%= link_to "Sign In", signin_path %>
          <% end %>
        </div>
      </section>
    </header>
    <section>
    <% flash.each do |name, msg| %>
  	  <%= content_tag :div, msg, :id => "flash_#{name}" %><br>
  	<% end %>
      <%= yield %>
    </section>
  </div>
  <footer>
    <style>
      /* Responsiveness */

      @media only screen and (max-width: 650px), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .wrap > header {
          line-height: normal;
          text-align: center;
        }

        body > footer > section {
          text-align: center;
        }

        h1 {
          display: block;
          width: 100%;
          text-align: center;
          position: static;
        }

        .wrap > header > section {
          padding-top: 10px;
          padding-bottom: 20px;
        }
      }
    </style>
    <%= javascript_include_tag "application" %>
  <section>
    <%= link_to "Guidelines", '/guidelines' %>
    &nbsp;&bull;&nbsp;
    <%= link_to "Applicants", '/applicants' %>
    &nbsp;&bull;&nbsp;
    <%= link_to "Blog", '/blog' %>
    &nbsp;&bull;&nbsp;
    <%= link_to "Feedback", 'mailto:colby@aley.me,business@jacksongariety.com?subject=The%20List%20Inquiry' %>
  </section>
  </footer>
  <script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-530677-Y";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>
</body>
</html>